
@model SistemaWebVuelos.Models.Vuelo

@{
    ViewBag.Title = "Detail";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalle</title>
</head>
<body>
    <div>
        <fieldset>
            <legend>Vuelo</legend>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Id)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Id)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Fecha)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Fecha)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Destino)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Destino)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Origen)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Origen)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Matricula)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Matricula)
            </div>
        </fieldset>
        <p>
            @Html.ActionLink("Volver a Index", "Index")
        </p>
    </div>
</body>
</html>

